/* Estilos gerais para resetar margens, preenchimentos e caixa de modelo de borda */
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
    font-family: var(--font-default);
}

/* Definição de variáveis personalizadas usando a pseudo-classe :root */
:root {
    --primary-color: #7843E9;
    --font-default: 'Source Sans 3', sans-serif;
}

/* Estilos para o cabeçalho, incluindo cor de fundo, sombra e posição fixa */
header {
    background-color: rgb(255, 255, 255);
    color: #000000;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 100px;
}

/* Estilos para a navegação, incluindo exibição flexível e margens */
nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem;
}

/* Estilos para os itens da lista de navegação, incluindo efeitos de hover */
nav ul li {
    display: inline;
    max-width: 2rem;
    border: solid 3px transparent;
    border-radius: 5px;
    padding: .6rem;
    cursor: pointer;
    transition: 0.5s;
}

/* Efeito de borda ao passar o mouse sobre os itens da lista de navegação */
nav ul li:hover {
    border: solid 3px var(--primary-color);
}

/* Estilos para os links da navegação, incluindo cores e efeitos de hover */
nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
}

/* Efeito de cor ao passar o mouse sobre os links de navegação */
nav a:hover {
    color: var(--primary-color);
}

/* Estilos para a seção do perfil, incluindo exibição flexível e imagem de perfil */
.profile-section {
    display: flex;
}

/* Estilos para a imagem de perfil, incluindo tamanho e borda arredondada */
.profile-section img {
    width: 14%;
    border-radius: 50%;
}

/* Estilos para o texto do perfil, incluindo tamanho e efeito de hover na cor */
.profile-section p {
    padding: 2rem 0 0 .4rem;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-default);
    color: #333333;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

/* Efeito de cor ao passar o mouse sobre o texto do perfil */
.profile-section p:hover {
    color: var(--primary-color);
}

/* Estilos para a seção principal, incluindo fundo com gradiente e imagem */
.main {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("img/projetos/common-bg.svg");
    background-size: cover;
    background-position: center;
}

/* Estilos para a imagem da seção principal, incluindo tamanho e borda arredondada */
.main img {
    width: 20rem;
    border-radius: 50%;
}

/* Estilos para o botão da seção principal, incluindo tamanho, cor e efeito de hover */
.main button {
    padding: 0.9rem 5rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: transparent;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}

/* Efeito de cor e transformação ao passar o mouse sobre o botão */
.main button:hover {
    background-color: #002D6A;
    transform: translateY(-3px);
}

/* Estilos para os títulos da seção do nome e descrição, incluindo borda inferior */
.name h1, h2 {
    border-bottom: solid 2px #002D6A;
    padding: 1rem 0 0.8rem 0;
    margin: 0 0 1rem 0;
}

/* Estilos para o parágrafo de descrição, incluindo tamanho da fonte */
.description p {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}

/* Estilos para a parte em destaque dentro do parágrafo de descrição */
.description p span {
    font-weight: bolder;
}
