Claro, aqui estão os comentários adicionados a todos os blocos de código acima dos seletores no seu arquivo CSS:

```css
/* Definição de variáveis de estilo gerais */
:root {
    --primary-color: #7843E9; /* Cor primária */
    --font-default: 'Source Sans 3', sans-serif; /* Fonte padrão */
}

/* Estilos gerais do corpo do documento */
body {
    font-family: var(--font-default);
    margin: 0;
    padding: 0;
    background-color: #F5F5F5; /* Cor de fundo */
}

/* Estilos do cabeçalho */
header {
    background-color: rgb(255, 255, 255); /* Cor de fundo do cabeçalho */
    color: #000000; /* Cor do texto */
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 100px; /* Sombra */
}

/* Estilos da barra de navegação */
nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space between;
    align-items: center;
    padding: 0.4rem 2rem;
}

/* Estilos dos itens da barra de navegação */
nav ul li {
    display: inline;
    max-width: 2rem;
    border: solid 3px transparent;
    border-radius: 5px;
    padding: .6rem;
    cursor: pointer;
    transition: 0.5s;
}

/* Estilos dos itens da barra de navegação ao passar o mouse */
nav ul li:hover {
    border: solid 3px var(--primary-color);
}

/* Estilos dos links de navegação */
nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
}

/* Estilos dos links de navegação ao passar o mouse */
nav a:hover {
    color: var(--primary-color);
}

/* Estilos da seção de perfil */
.profile-section {
    display: flex;
}

/* Estilos da imagem de perfil */
.profile-section img {
    width: 14%;
    border-radius: 50%;
}

/* Estilos do nome na seção de perfil */
.profile-section p {
    padding: .7rem 0 0 .4rem;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-default);
    color: #333333;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

/* Estilos do nome na seção de perfil ao passar o mouse */
.profile-section p:hover {
    color: var(--primary-color);
}

/* Estilos gerais da seção principal */
main {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 0.1fr;
    grid-template-areas: "mainContent aside";
    flex: 1 0 auto;
    background-image: url('img/background.png'); /* Imagem de fundo */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Altura total da tela */
}

/* Estilos da seção "home" */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    grid-area: "aside";
}

/* Estilos do título na seção "home" */
#home h1 {
    text-transform: uppercase;
    font-size: 62px;
    color: #111111;
}

/* Estilos do texto na seção "home" */
#home p {
    color: #333333;
    font-size: 22px;
    text-align: center;
}

/* Estilos do botão na seção "home" */
#home a {
    padding: .9rem 5rem;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: #fff;
    border: transparent;
    border-radius: 5px;
    text-decoration: none;
}

/* Estilos do bloco de links sociais */
.social-links {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Estilos dos itens de links sociais */
.social-links li {
    width: 100%;
    display: block;
    padding: 0.5rem;
    transition: background 0.3s ease 0s;
    border-radius: 5px;
}

/* Estilos dos itens de links sociais ao passar o mouse */
.social-links li:hover {
    background: rgba(120, 67, 233, 0.2);
}

/* Estilos das imagens nos links sociais */
.social-links img {
    display: grid;
    max-width: 3rem;
    grid-area: 'mainContent';
}

/* Estilos dos links nos itens de links sociais */
.social-links a {
    width: 2rem;
}

/* Estilos de preenchimento para a seção "about" */
.padding-about {
    padding: 6rem;
}

/* Estilos da seção "about" */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

/* Estilos do título na seção "about" */
#about {
    margin-bottom: -2rem;
}

/* Estilos do título da seção "about" */
#about h2 {
    display: block;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: rgb(17, 17, 17);
}

/* Estilos do texto na seção "about" */
#about p {
    display: block;
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}

/* Estilos do bloco de descrição na seção "about" */
.description-container {
    display: grid;
    flex-wrap: wrap;
}

/* Estilos do título na seção de descrição na "about" */
.about-description h3 {
    font-size: 2rem;
}

/* Estilos do texto na seção de descrição na "about" */
.about-description p {
   

 text-align: left;
    font-size: 1.3rem;
    color: rgb(102, 102, 102);
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

/* Estilos para parte em negrito no texto de descrição na "about" */
.about-description p span {
    font-weight: bold;
}

/* Estilos do título da seção "skills" */
.skills h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
}

/* Estilos da lista de tecnologias */
.technologies {
    display: flex;
    flex-wrap: wrap;
}

/* Estilos dos itens da lista de tecnologias */
.tech-item {
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    color: #666;
}

/* Estilos de preenchimento para a seção "projects" */
.padding-projects {
    padding: 4rem 0;
}

/* Estilos do container de projetos */
.projects-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

/* Estilos do título da seção "projects" */
.projects-container h4 {
    display: block;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: rgb(17, 17, 17);
    margin-bottom: 4rem;
}

/* Estilos do texto na seção "projects" */
.projects-container p {
    display: block;
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}

/* Estilos das linhas de projetos */
.project-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

/* Estilos das imagens de projeto */
.img-project {
    overflow: hidden;
}

/* Estilos das imagens de projeto ao passar o mouse */
.img-project img {
    width: 80%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Estilos do título do projeto */
.content-project h3 {
    padding-top: 8rem;
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

/* Estilos do texto do projeto */
.content-project p {
    font-size: 1.4rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
    text-align: left;
}

/* Estilos do botão de projeto */
.content-project a {
    background: #7843e9;
    color: #fff;
    padding: 1rem 4.3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
}

/* Estilos da seção "contact" */
#contact {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("img/projetos/common-bg.svg");
    background-size: cover;
    background-position: center;
}

/* Estilos de preenchimento para a seção "contact" */
.padding-contact {
    padding: 6rem;
}

/* Estilos do contêiner principal */
.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

/* Estilos do título na seção "contact" */
.main-container h2 {
    margin-bottom: 1rem;
}

/* Estilos do título da seção "contact" */
.title-contact {
    color: #111;
    font-weight: 800;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
}

/* Estilos do texto na seção "contact" */
.description-contact {
    display: block;
    text-align: center;
    color: #555;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}

/* Estilos do contêiner do formulário de contato */
.contact-form-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    background: #fff;
    padding: 2rem;
    margin-top: 1rem;
    max-width: 70rem;
    text-align: right;
    width: 50%;
    border-radius: 5px;
    margin: 2rem auto 0 auto;
}

/* Estilos dos campos do formulário de contato */
.contact__form-field {
    margin-bottom: 2rem;
}

/* Estilos dos rótulos dos campos do formulário de contato */
.contact__form-label {
    color: #666;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

/* Estilos dos campos de entrada do formulário de contato */
.contact__form-input {
    color: #333;
    padding: .5rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

/* Estilos do campo de texto do formulário de contato */
.contact__form-field textarea {
    resize: vertical;
    width: 48.8rem;
}

/* Estilos do botão de envio do formulário de contato */
.contact__btn {
    width: 30%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

/* Estilos do botão com tema personalizado */
.btn--theme {
    background: #7843e9;
    color: #fff;
}

/* Estilos do botão genérico */
.btn {
    background: #7843e9

;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    cursor: pointer;
}

/* Estilos do botão ao passar o mouse */
.btn:hover {
    transform: translateY(-3px);
}

/* Estilos específicos para campos de entrada de texto vertical em navegadores WebKit */
input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

/* Estilos do rodapé */
footer {
    display: block;
}

/* Estilos do rodapé principal */
.main-footer {
    background: #000;
    color: #fff;
}

/* Estilos do contêiner principal do rodapé */
.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

/* Estilos da parte superior do rodapé */
.main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

/* Estilos da primeira linha no rodapé */
.main-footer__row-1 {
    order: 2;
}

/* Estilos do cabeçalho pequeno */
.heading-sm {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilos do contêiner de ícones sociais no rodapé */
.main-footer__social-cont {
    margin-top: 2rem;
}

/* Estilos dos ícones sociais no rodapé */
.main-footer__icon {
    margin-right: 1rem;
    width: 2.5rem;
}

/* Estilos da segunda linha no rodapé */
.main-footer__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem;
}

/* Estilos da descrição curta no rodapé */
.main-footer__short-desc {
    margin-top: 2rem;
    color: #eee;
    font-size: 1rem;
    line-height: 1.7;
}

/* Estilos da parte inferior do rodapé */
.main-footer__lower {
    padding: .4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
}
